<p>thank you!</p>
<%= form_for (@category_of_question), :url=>{:action => 'create'} do |f| %>
  <button class="btn">続けて問題つくっちゃう</button></a>
  <input type="hidden" name="category_of_question[category_name]" value="<%=@category.category_name%>"> 
<% end %>
