<div id="top_box">
  <div class="login_box">
    <h2>Sign in!</h2>
    <div class="facebook-btn">
      <p><a class="btn-auth btn-facebook" href="/auth/facebook">Sign in with <b>Facebook</b></a></p>
    </div>
    <div class="twitter-btn">
      <p><a class="btn-auth btn-twitter" href="/auth/twitter">Sign in with <b>Twitter</b></a></p>
    </div>
    <div class="github-btn">
      <p><a class="btn-auth btn-github" href="/auth/github">Sign in with <b>GitHub</b></a></p>
    </div>
  </div>
</div>
