@import 'common.css.scss';

.ranking-side-box {
  
  div {
    background: #fff;
    
    h3 {
      color: #555;
    }

    a {
      color: #555;
      display: block;
      margin: 10px 0;
      overflow: hidden;

      span {
        @include textShadow();
        font-family: $cantarell;
        font-size: 20px;
        margin: 0 0 0 10px;
      }
    }
  }
}

.ranking-box {
  
  h2 {
    margin: 0 0 10px;
  }
  
  td {
    vertical-align: middle;
  }

  .rank {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
  }
  
  .user {
    color: #555;
    font-size: 18px;
  }

  .score {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
}
